apiVersion: v1
data:
  .dockerconfigjson: {{ jfrog_ansible_user_auth_conf }}
kind: Secret
metadata:
  creationTimestamp: null
  name: regcred
  namespace: default
type: kubernetes.io/dockerconfigjson
