apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.18.0 (06a2e56)
  creationTimestamp: null
  labels:
    io.kompose.service: survey-ui
  name: survey-ui
  namespace: default
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: survey-ui
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
      - env:
        - name: SURVEY_API_WS
          value: ws://survey-service:9000
        - name: KLARRIO_GMAP_API_KEY
          value: {{ klarrio_gmap_api_key }}
        image: klarrio-docker.jfrog.io/klarrio/apac-survey-ui:0.0.1-SNAPSHOT
        name: survey-ui
        ports:
        - containerPort: 80
        resources: {}
      hostname: survey-ui
      restartPolicy: Always
status: {}
